/* docs/css/custom_colors.css */

/* Define the specific colors using CSS variables (optional but good practice) */
:root {
  --color-cernniceblue: #0669b2;
  --color-atlasgreen: #27a572;
  --color-cernred: #e15e32;
  --color-atlasorange: #f09010;
  --color-cernlightblue: #15b3da;
  --color-cernpurple: #6e2466;
}

/* General emphasis class */
.omc-emph {
  color: var(--md-primary-fg-color);
  font-weight: bold;
}

.warning-colored {
  color: var(--color-atlasorange);
  font-weight: bold;
}

.cernred {
  color: var(--color-cernred);
  font-weight: bold;
}
