/* docs/css/custom_colors.css */

/* Define the specific colors using CSS variables (optional but good practice) */
:root {
  --color-cernniceblue: #0669b2;
  --color-atlasgreen: #27a572;
  --color-cernred: #e15e32;
  --color-atlasorange: #f09010;
  --color-cernlightblue: #15b3da;
  --color-cernpurple: #6e2466;
}

/* General emphasis class */
.omc-emph {
  color: var(--md-primary-fg-color);
  font-weight: bold;
}

.warning-colored {
  color: var(--color-atlasorange);
  font-weight: bold;
}

.cernred {
  color: var(--color-cernred);
  font-weight: bold;
}

.settings-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1.1em;
  height: 1.1em;
  background-color: rgb(71, 148, 192);
  color: white;
  font-size: 1em;
  border-radius: 4px;  /* optional: adds slight rounding */
}

.green-gui-button kbd {
  background-color: rgb(88, 226, 46) !important;
  color: black !important;
  box-shadow: 0 .1rem 0 .05rem var(--md-typeset-kbd-border-color),0 .1rem 0 var(--md-typeset-kbd-border-color),0 -.1rem .2rem rgb(159, 202, 146) inset;;
}

.red-gui-button kbd {
  background-color: rgb(226, 46, 46) !important;
  color: black !important;
  box-shadow: 0 .1rem 0 .05rem var(--md-typeset-kbd-border-color),0 .1rem 0 var(--md-typeset-kbd-border-color),0 -.1rem .2rem rgb(202, 142, 124) inset;;
}

.yellow-gui-button kbd {
  background-color: rgb(255, 201, 0) !important;
  color: black !important;
  box-shadow: 0 .1rem 0 .05rem var(--md-typeset-kbd-border-color),0 .1rem 0 var(--md-typeset-kbd-border-color),0 -.1rem .2rem rgb(202, 177, 124) inset;;
}

.blue-gui-button kbd {
  background-color: rgb(0, 0, 255) !important;
  color: rgb(250, 247, 247) !important;
  box-shadow: 0 .1rem 0 .05rem var(--md-typeset-kbd-border-color),0 .1rem 0 var(--md-typeset-kbd-border-color),0 -.1rem .2rem rgb(124, 125, 202) inset;;
}